.mySwiper {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.swiper-item {
  background-image: url("../assets/banner/banner.png");
  background-position: center;
  background-size: cover;
  filter: brightness(0.7);
}
